name: Sync Dotfiles

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: List files
        run: ls -lah

      - name: Success
        run: echo "Dotfiles synced successfully!"
